html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #0f172a;
    color: #333;
}

header {
    background: #d8b17d;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    background: #fff;
    margin: 15px;
    border-radius: 5px;
}

h2 {
    color: #222;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.project {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: #fff;
}
.contact-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom:10px;
}
.contact-item:hover{
    transform: translateX(5px);
    transition: 0.3s;
}